@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --brand-primary: #e83837;
}

* {
    font-family: "Pretendard", sans-serif;
}

/* Swiper pagination 텍스트만 표시 */
.mySwiper .swiper-pagination-bullet {
    border: none;
    width: auto;
    height: auto;
    display: flex;
    border-radius: 23px;
    background: #d1d1d1;
    opacity: 1;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.mySwiper .swiper-pagination-bullet:hover {
    background: #b0b0b0;
}

.mySwiper .swiper-pagination-bullet:is(.swiper-pagination-bullet-active) {
    background-color: var(--brand-primary);
}
.mySwiper .swiper-pagination-bullet:is(.swiper-pagination-bullet-active):hover {
    background-color: rgb(232 56 55 / 0.9);
}

.mySwiper .swiper-horizontal > .swiper-pagination-bullets,
.mySwiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.mySwiper .swiper-pagination-bullets .swiper-pagination,
.mySwiper
    .swiper-pagination-bullets.swiper-pagination-horizontal
    .swiper-pagination {
    width: fit-content;
    top: 50%;
    transform: translateY(-50%);
    left: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
}

.mySwiper .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    content: "";
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 24px;
    height: 24px;
    background: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.8462 17.6532L12.7923 16.5687L16.6115 12.7495H4.5V11.2495H16.6115L12.7923 7.4302L13.8462 6.3457L19.5 11.9995L13.8462 17.6532Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;
}

:is(.mainLingchenSwiper.swiper, .mainTokkSwiper.swiper) {
    display: flex;
    flex-direction: column-reverse;
}

:is(.mainLingchenSwiper, .mainTokkSwiper)
    > .swiper-pagination.swiper-pagination-bullets {
    position: relative;
    bottom: 0;
    margin-bottom: 32px;
}

:is(.mainLingchenSwiper, .mainTokkSwiper) .swiper-pagination-bullet {
    border: none;
    width: auto;
    height: auto;
    display: flex;
    border-radius: 23px;
    background: #d1d1d1;
    opacity: 1;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
:is(.mainLingchenSwiper, .mainTokkSwiper) .swiper-pagination-bullet:hover {
    background: #b0b0b0;
}

:is(.mainLingchenSwiper, .mainTokkSwiper)
    .swiper-pagination-bullet:is(.swiper-pagination-bullet-active) {
    background-color: var(--brand-primary);
}
:is(.mainLingchenSwiper, .mainTokkSwiper)
    .swiper-pagination-bullet:is(.swiper-pagination-bullet-active):hover {
    background-color: rgb(232 56 55 / 0.9);
}

:is(.mainLingchenSwiper, .mainTokkSwiper)
    .swiper-horizontal
    > .swiper-pagination-bullets,
:is(.mainLingchenSwiper, .mainTokkSwiper)
    .swiper-pagination-bullets.swiper-pagination-horizontal,
:is(.mainLingchenSwiper, .mainTokkSwiper)
    .swiper-pagination-bullets
    .swiper-pagination,
:is(.mainLingchenSwiper, .mainTokkSwiper)
    .swiper-pagination-bullets.swiper-pagination-horizontal
    .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    gap: 16px;
}
