@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --brand-primary: #e83837;
}

* {
    font-family: "Pretendard", sans-serif;
}

/* Swiper pagination 텍스트만 표시 */
.swiper-pagination-bullet {
    background: none !important;
    border: none !important;
    width: auto !important;
    height: auto !important;
    border-radius: 0 !important;
    opacity: 1 !important;
    margin: 0 8px !important;
    color: #fff !important;
}

.swiper-pagination {
    bottom: 59px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 172px;
}
