@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --brand-primary: #e83837;
}

* {
    font-family: "Pretendard", sans-serif;
}

/* Swiper pagination 텍스트만 표시 */
.mySwiper .swiper-pagination-bullet {
    background: none;
    border: none;
    width: auto;
    height: auto;
    border-radius: 0;
    display: flex;
}

.mySwiper .swiper-pagination-bullet:is(.swiper-pagination-bullet-active) {
    color: var(--brand-primary);
}

.mySwiper .swiper-horizontal > .swiper-pagination-bullets,
.mySwiper .swiper-pagination-bullets.swiper-pagination-horizontal,
.mySwiper .swiper-pagination-bullets .swiper-pagination,
.mySwiper .swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination {
    top: 50%;
    transform: translateY(-50%);
    left: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
}

.mySwiper .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    content: "";
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    width: 6px;
    height: 6px;
    background: var(--brand-primary);
    border-radius: 50%;
    margin-inline: 12px;
}
